@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:wght@500&family=Bebas+Neue&family=Montserrat&family=Roboto+Condensed&family=Roboto:wght@300&family=Sedgwick+Ave+Display&display=swap");

a {
	text-decoration: none;
	color: inherit;
	transition: all 1s;
}
a:hover {
	text-decoration: underline;
}
